*{
    margin: 0;
    padding: 0;
    box-sizing: bor;
}

.header__account--wide{
    width: 40px;
    border-radius: 50%;
}

body{
    display: grid;
    height: 100vh;
    grid-template-areas:
    "header"
    "main"
    "footer";
    grid-template-rows: auto 1fr auto;
    background-color: #000000d8;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.header{
    grid-area: header;
    padding: 10px;
}

.main{
    grid-area: main;
}

.footer{
    grid-area: footer;
}

.header__nav{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    align-items: center;
}

.header__list{
    display: flex;
    gap: 20px;
    list-style: none;
}

.header__link{
    display: flex;
    color: white;
    text-decoration: none;
}

.header__link:visited{
    color: white;
}

.main{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.main__google-logo{
    width: 300px;
    position: relative;
    top: 25px;
}

.main__file-input--hidden{
    display: none;
}

.main__inputs > .main__search-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 10px;
    width: 600px;

    background-color: #4d5156;
    border-radius: 50px;
}

.main__search-bar .main__search-bar--left{
    display: flex;
}

.main__search-bar .main__search-bar--right{
    display: flex;
    gap: 10px;
    padding: 2px;
}

.main__button{
    display: flex;
    gap: 10px;
    border-radius: 50px;
    width: 100px;
    height: 35px;
    padding: 5px;
    border: 1px solid rgba(255, 255, 255, 0.274);
    justify-content: center;
    align-items: center;
    background-color: #4d5156;
}

.main__button-text{
    color: white;
}

.main__search-input{
    width: 410px;
    border: none;
    background: none;
    outline: none;
    margin-left: 10px;
}

.main__icon, .header__icon{
    width: 20px;
    align-content: center;
    text-align: center;
    filter: invert(1);
}

.footer{
    display: flex;
    flex-direction: column;
}

.footer__top{
    border-bottom: 0.5px solid rgb(72, 72, 72);
    background-color: #00000050;
    height: 45px;
    align-content: center;
}

.footer__text{
    margin-left: 20px;
}

.footer__bottom{
    display: flex;
    justify-content: space-around;
    background-color: #00000050;
    height: 45px;
    align-items: center;
}

.footer__list{
    list-style: none;
}

.footer__list--left, .footer__list--right{
    display: flex;
    gap: 25px;
}