/* ===================================
    Reset y estilos globales
=================================== */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    height: 100vh;
    grid-template-areas:
    "header"
    "main"
    "footer";
    grid-template-rows: auto 1fr auto;
    background-color: #1f1f1f;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.header__account--wide{
    width: 40px;
    border-radius: 50%;
}

.header{
    grid-area: header;
    padding: 10px;
}

.header__nav{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    align-items: center;
}

.header__list{
    display: flex;
    gap: 20px;
    list-style: none;
}

.header__link{
    display: flex;
    color: white;
    text-decoration: none;
}

.header__link:visited{
    color: white;
}

.main{
    display: flex;
    grid-area: main;
    flex-direction:column;
    align-items: center;
    gap: 20px;
}

.main__inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main__google-logo{
    width: 300px;
    position: relative;
    filter: invert(1);
    clip-path: inset(80px 0px);
    bottom: -100px;
}

.main__file-input--hidden{
    display: none;
}

.main__search-bar{
    display: flex;
    background-color: #4d5156;
    min-height: 50px;
    padding: 6px 8px;
    border-radius: 40px;
}

.main__search-bar--right, .main__search-bar--left{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.main__search-bar--left{
    margin-left: 6px;
}

.main__button{
    display: flex;
    gap: 10px;
    border-radius: 50px;
    width: 100px;
    height: 35px;
    padding: 5px;
    border: 1px solid rgba(255, 255, 255, 0.274);
    justify-content: center;
    align-items: center;
    background-color: #4d5156;
}

.main__button-text{
    color: white;
}

.main__search-input{
    width: 410px;
    border: none;
    background: none;
    outline: none;
    margin-left: 10px;
}

.main__icon, .header__icon{
    width: 20px;
    align-content: center;
    text-align: center;
    filter: invert(1);
}

.main__special-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 30px;
}

.main__width-google, .main__have-lucky{
    padding: 0px 16px;
    height: 36px;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    background-color: #303134;
    color: white;
}

.footer{
    display: flex;
    grid-area: footer;
    flex-direction: column;
    height: 95px;
}

.footer__top{
    border-bottom: 0.5px solid rgb(72, 72, 72);
    background-color: #00000050;
    height: 45px;
    align-content: center;
}

.footer__text{
    margin-left: 20px;
}

.footer__bottom{
    display: flex;
    flex-wrap: wrap;
    background-color: #00000050;
    min-height: 45px;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
}

@media(max-width: 1200px){
    .footer__bottom{
        justify-content: space-evenly;
    }
}

.footer__list{
    list-style: none;
}

.footer__list--left, .footer__list--right{
    display: flex;
    gap: 25px;
}